apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  labels:
    app: kibana-website-ingress
  name: kibana-website
  namespace: elk-stack
spec:
 rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          serviceName: kibana-deployment
          servicePort: 5601
    